{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="overlay">
        <div class="login">
          <h1>Welcome</h1>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
              {{message}}
          </div>
          {% endfor %}
          {% endif %}
          <form class="login-form" method="post">
            {% csrf_token %}
            <input type="email" id="email" name="email" placeholder="Email" />

            <input type="password" id="password" name="password" placeholder="Password"/>

            <button type="submit" class="button" href="#"/>Login</button>
          </form>
          <a href="{% url 'register' %}">Get to Register page</a>

        </div>
      </div>
    </div>
  </body>
</html>
